:root {
    --root-section-padding: 50px;
    --controls-width: 300px;
}

body:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: fixed;
    top: -10000px;
    left: -10000px;
    background: url("../images/profile-icon-active.svg"), url("../images/bet-icon-active.svg"),
    url("../images/help-icon-active.svg"), url("../images/logout-icon-active.svg"), url("../images/background.png"),
    url("../images/close-icon.svg"), url("../images/up-icon.png"), url("../images/down-icon.png"),
    url("../images/success.svg"), url("../images/check.svg");
}

input, select, button, .button {
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"], input[type="email"], input[type="password"], select, button, .button {
    width: 300px;
}

button:not(:disabled):hover, .button:not(:disabled):hover {
    background-color: #0075e9;
}

button:not(:disabled):active, button:not(:disabled):focus, .button:not(:disabled):active, .button:not(:disabled):focus {
    background-color: var(--second-accent-color);
}

input:hover, select:hover {
    border-color: var(--second-accent-color);
}

input:active, input:focus, select:active, select:focus {
    border-color: var(--main-accent-color);
}

select {
    position: relative;
    background: url("../images/dropdown.svg") no-repeat right 15px center;
}

.table {
    display: flex;
    flex-direction: column;
}

.table > li {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.custom-select {
    display: inline-block;
}

.custom-select input {
    display: none;
}

.custom-select input + label {
    display: none;
    cursor: pointer;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.landing {
    display: flex;
}

body.landing > main {
    width: calc(100vw - 400px);
    order: 2;
}

body.landing .slide .content {
    width: 500px;
    justify-content: flex-end;
    min-height: 215px;
}

body.landing .slide .content .button {
    width: 320px;
}

body.landing > aside {
    order: 1;
    left: 0;
    top: 0;
    height: 100vh;
    /*width: 400px;*/
    width: 427px;
    overflow-y: scroll;
}

body.landing aside .header {
    position: relative;
    left: unset;
    top: unset;
}

body.landing > aside .title {
    margin-top: 4rem;
}

body.panel {
    font-size: 14px;
    line-height: 21px;
}

body.panel > header {
    --height: 100px;
    display: flex;
    justify-content: space-between;
    height: var(--height);
    padding: 0 var(--root-section-padding);
    background-color: var(--background-color);
}

body.panel > header * {
    height: 100%;
}

body.panel > header .logo {
    line-height: calc(var(--height) + 4px);
}

body.panel > header nav {
    --icon-size: 25px;
    display: flex;
    margin-right: -25px;
}

body.panel > header nav a {
    --calculated-height: var(--height);
    position: relative;
    padding: 0 25px;
    line-height: var(--height);
    color: white;
}

body.panel > header nav a.active {
    background: -moz-linear-gradient(top, rgba(5, 142, 255, 0) 0%, rgba(5, 142, 255, 0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(5, 142, 255, 0) 0%, rgba(5, 142, 255, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(5, 142, 255, 0) 0%, rgba(5, 142, 255, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00058eff', endColorstr='#33058eff', GradientType=0);
    border-bottom: 4px solid #0084FF;
    --calculated-height: calc(var(--height) - 8px);
}

body.panel > header nav a.icon {
    --text-section-height: calc(var(--height) / 2);
    padding-top: var(--text-section-height);
    line-height: calc(var(--text-section-height) - 1rem);
}

body.panel > header nav a.icon:before {
    content: '';
    background: no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: calc(var(--calculated-height) / 2);
    left: calc((100% - var(--icon-size)) / 2);
    height: var(--icon-size);
    width: var(--icon-size);
}

body.panel > header nav a.icon.profile:before {
    background-image: url("../images/profile-icon.svg");
}

body.panel > header nav a.icon.profile.active:before, body.panel > header nav a.icon.profile:hover:before {
    background-image: url("../images/profile-icon-active.svg");
}

body.panel > header nav a.icon.bet:before {
    background-image: url("../images/bet-icon.svg");
}

body.panel > header nav a.icon.bet.active:before, body.panel > header nav a.icon.bet:hover:before {
    background-image: url("../images/bet-icon-active.svg");
}

body.panel > header nav a.icon.about:before {
    background-image: url("../images/help-icon.svg");
}

body.panel > header nav a.icon.about.active:before, body.panel > header nav a.icon.about:hover:before {
    background-image: url("../images/help-icon-active.svg");
}

body.panel > header nav a.icon.logout:before {
    background-image: url("../images/logout-icon.svg");
}

body.panel > header nav a.icon.logout.active:before, body.panel > header nav a.icon.logout:hover:before {
    background-image: url("../images/logout-icon-active.svg");
}

body.panel > header nav a > span {
    position: absolute;
    display: inline;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    line-height: 20px;
    color: white;
    bottom: calc((var(--calculated-height) / 2) + (var(--icon-size) / 2));
    right: calc(((100% - var(--icon-size)) / 2) - (var(--icon-size) / 2));
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

body.panel > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 0;
    background-color: var(--foreground-color);
    min-height: calc(100vh - 100px - 50px);
}

body.panel > main.bet {
    padding-top: calc(50px - 1.35rem);
}

body.panel > main > section {
    display: flex;
    flex-wrap: wrap;
}

body.panel > main li {
    border-radius: var(--border-radius);
}

body.panel .profile-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 170px;
    height: 170px;
    padding: 20px;
    margin: 0 20px 20px 0;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

body.panel .profile-image:before {
    content: '';
    background: url("../images/photo-icon.svg") no-repeat center bottom;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: auto;
}

body.panel .profile-image label {
    /*padding: .7rem 0;*/
    --height: 36px;
    font-size: 0.8rem;
    text-transform: unset;
}

body.panel .profile-image input {
    display: none;
}

body.panel .profile-data {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 445px;
}

body.panel .profile-data > li {
    padding: 18px 20px;
    /*height: ;*/
}

body.panel .profile-data > li:nth-child(odd) {
    background-color: var(--background-color);
}

body.panel .profile-data > li > *:nth-child(2) > *:nth-child(1) {
    text-align: right;
    margin-right: 1rem;
}

body.panel > main > section > .title {
    margin-top: 0;
    font-weight: 400;
}

body.panel .bet-history.grid {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 640px;
}

body.panel .bet-history.grid > li {
    display: flex;
    background-color: var(--background-color);
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    min-width: 310px;
}

body.panel .bet-history.grid > li > * {
    display: flex;
    flex-direction: column;
}

body.panel .bet-history.detailed.grid > li .order {
    --height: 20px;
    background-color: #0084FF;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: calc(var(--height) / 2);
    margin-top: 1rem;
}

body.panel .bet-history.detailed.grid > li > ul {
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
}

body.panel .bet-history.detailed.grid > li > ul > li {
    /*margin: .5rem 0;*/
    /*margin-top: 10px;*/
    margin-top: 15px;
    line-height: 16px;
}

body.panel .bet-history.detailed.grid > li > ul > li:first-child {
    margin-top: 0;
}

body.panel .bet-history.detailed.grid > li > ul > li span {
    display: inline-block;
}

body.panel .bet-history.detailed.grid > li > ul > li > *:first-child {
    min-width: 92px;
}

body.panel .bet-history.detailed.grid > li > ul > li > span > span {
    margin: 0 1rem;
}

body.panel .bet-history {
    --coin-icon-size: 16px;
}

body.panel .bet-history.detailed {
    --info-icon-size: 10px;
    padding-top: 8px;
    margin-bottom: 3px;
}

body.panel .bet-history .fall {
    color: #ff1a00;
}

body.panel .bet-history.detailed.grid .fall:before {
    background: url("../images/fall.svg");
}

body.panel .bet-history .rise {
    color: #0084ff;
}

body.panel .bet-history.detailed.grid .rise:before {
    background: url("../images/rise.svg");
}

body.panel .bet-history.detailed.grid .fall:before, body.panel .bet-history.detailed.grid .rise:before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    height: var(--info-icon-size);
    width: var(--info-icon-size);
    margin-right: calc(var(--info-icon-size) / 3);
}

body.panel .bet-history .green, body.panel .coins-info .green {
    color: #74bc2a;
}

body.panel .bet-history .red, body.panel .coins-info .red {
    color: #ff1a00;
}

body.panel .bet-history.table {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    /*width: 620px;*/
    width: 640px;
}

body.panel .bet-history.table > li {
    line-height: 16px;
    padding: 12px 20px;
    justify-content: flex-start;
}

body.panel .bet-history.table > li:nth-child(even) {
    background-color: var(--background-color);
}

body.panel .bet-history.table > li > * {
    display: inline-block;
    min-width: 95px;
}

body.panel .bet-history.table > li > * img {
    margin-bottom: -.15rem;
    margin-right: 10px;
    width: var(--coin-icon-size);
    height: var(--coin-icon-size);
}

body.panel .coins-info.table {
    margin: 0;
    padding: 0;
    width: calc(100% - 385px);
}

body.panel .coins-info.table > li {
    padding: 20px;
    height: 56px;
}

body.panel .coins-info.table > li:not(:first-child) {
    background-color: var(--background-color);
    margin-top: 5px;
}

body.panel .coins-info.table > li:first-child {
    padding: 20px 20px 8px 20px;
    height: auto;
}

body.panel .coins-info.table > li:not(:first-child):hover {
    background: linear-gradient(to right, #0084ff, rgba(0, 132, 255, 0)), linear-gradient(#001e37, #001e37);
}

body.panel .coins-info.table > li > * {
    width: 100%;
    /*line-height: 32px;*/
    /*line-height: 26px;*/

}

body.panel .coins-info.table > li > *:not(:first-child) {
    text-align: right;
}

body.panel .coins-info.table > li img {
    margin: -10px 15px -11px 0;
    height: 32px;
    width: 32px;
}

body.panel .bet-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: 1.2rem;
}

body.panel .bet-form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 23.5px;
    /*position: relative;*/
}

body.panel .bet-form label {
    display: inline-block;
    margin-bottom: 12px;
}

body.panel .bet-form > *.horizontal label {
    margin-bottom: unset;
}

body.panel .bet-form .horizontal > * > label {
    margin-bottom: 12px;
}

body.panel .bet-form input, body.panel .bet-form select {
    margin-top: 0;
}

body.panel .bet-form input[type="text"], body.panel .bet-form input[type="number"], body.panel .bet-form select {
    width: 100%;
}

body.panel .bet-form > div:not(.select-wrapper) > div:not(:first-child) {
    margin-left: 20px;
}

body.panel .bet-form #coin {
    width: 185px;
}

body.panel .bet-form .time {
    position: relative;
}

body.panel .bet-form #time {
    text-align: center;
    width: 100%;
    font-size: 16px;
}

body.panel .bet-form .change-time {
    width: 30px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    /*height: 53px;*/
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: var(--height);
}

body.panel .bet-form .change-time:last-of-type {
    left: unset;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

body.panel .bet-form .change-time:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

body.panel .bet-form .strategy {
    position: relative;
    margin-top: 12px;
}

body.panel .bet-form .strategy > input {
    position: relative;
    height: 50px;
    width: 50%;
}

body.panel .bet-form .strategy > input:checked {
    background-color: var(--second-accent-color);
    border-color: transparent;
}

body.panel .bet-form .strategy > input:first-of-type {
    border-right: none;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

body.panel .bet-form .strategy > input:last-of-type {
    border-left: none;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

body.panel .bet-form .strategy > input#fall:before {
    background-image: url("../images/down-icon-active.png");
}

body.panel .bet-form .strategy > input#fall:checked:before {
    background-image: url("../images/down-icon.png");
}

body.panel .bet-form .strategy > input#fall:after {
    content: 'Понижение';
}

body.panel .bet-form .strategy > input#rise:before {
    background-image: url("../images/up-icon-active.png");
}

body.panel .bet-form .strategy > input#rise:checked:before {
    background-image: url("../images/up-icon.png");
}

body.panel .bet-form .strategy > input#rise:after {
    content: 'Повышение';
}

body.panel .bet-form .strategy > input:before, body.panel .bet-form .strategy > input:after {
    content: '';
    color: white;
    position: absolute;
    left: unset;
    right: 1rem;
    margin: auto 0;
    text-transform: uppercase;
}

body.panel .bet-form .strategy > input:before {
    left: 15px;
    right: unset;
    width: 24px;
    height: 24px;
    top: calc((50px - 24px) / 2);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

body.panel .bet-form .strategy:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

body.panel .bet-form .strategy:hover:after {
    border-color: var(--second-accent-color);
}

body.panel .bet-form .amount {
    position: relative;
}

body.panel .bet-form .select-wrapper {
    position: relative;
    /*padding-bottom: 50px;*/
}

body.panel .bet-form .narrow {
    min-width: 60%;
}

body.panel .bet-form .custom-select {
    position: absolute;
    right: 0;
    top: calc(100% - 50px);
    z-index: 10000;
    width: 100%;
}

.choices {
    background: #335877;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    border: none;
}

.choices[data-type*=select-one]:after {
    border-color: #fff transparent transparent transparent;
}

.choices[data-type*=select-one].is-open:after {
    border-color: transparent transparent #fff transparent;
}

body.panel .bet-form .choices__inner {
    margin: 0;
    background: #335877;
    width: 100%;
    /*padding: 0;*/
    padding: 0 29px 0 10px;
    /*height: 50px;*/
    /*line-height: 50px;*/
    border: none;
}

.choices__list {
    background: #335877;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    /*padding: 0 29px 0 10px;*/
    /*height: 50px;*/
    line-height: 50px;
    border: none;
}

.choices__item {
    background: #335877;
    margin: 0;
    padding: 0 29px 0 10px !important;
    /*height: 50px;*/
    line-height: 50px;
    border: none;
}

.is-highlighted {
    background-color: #6d92b3 !important;
}

body.panel .bet-form .amount .choices {
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 2.7rem;
    width: 120px;
}

body.panel .bet-form .custom-select:after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 20px;
    right: 10px;
    background: url("../images/dropdown.svg") no-repeat center;
    background-size: contain;
    width: 10px;
    height: 10px;
}

body.panel .bet-form .amount .custom-select:after {
    top: 11px;
}

body.panel .bet-form .custom-select label {
    display: none;
    margin: 0;
    background: #335877;
    width: 100%;
    padding: 0 29px 0 10px;
    height: 50px;
    line-height: 50px;

}

body.panel .bet-form .amount .choices {
    /*padding: 0 29px 0 10px;*/
    height: 30px;
    /*line-height: 30px;*/
}

body.panel .bet-form .amount .choices__inner {
    padding: 0 29px 0 10px;
    min-height: unset;
}

body.panel .bet-form .amount .choices__list {
    line-height: 30px;
}

body.panel .bet-form .amount .choices__item {
    padding: 0 29px 0 10px;
    line-height: 30px;
}



body.panel .bet-form .custom-select label:hover {
    background-color: #6d92b3 !important;
}

body.panel .bet-form .custom-select:hover input:checked + label {
    background: #7dacd5 !important;
    cursor: default;
}

body.panel .bet-form #agreement {
    margin-top: 4px;
}

body.panel .bet-form .submit {
    margin-top: 3px;
}

body.panel .bet-form button {
    margin-top: unset;
    width: 100%;
}

body.panel > footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    padding: 0 var(--root-section-padding);
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}

body.panel > footer img {
    height: 1rem;
    width: 1rem;
    object-fit: contain;
    margin: 0 .3rem -.2rem .3rem;
}

body.panel span.transparent, body.panel footer a.transparent {
    color: #A6CDF1;
    opacity: .9;
}

button.green:hover, .button.green:hover {
    background-color: #1fc05e;
}

button.green:active, .button.green:active, button.green:focus, .button.green:focus {
    background-color: #3EBB6B;
}

button.transparent:hover, .button.transparent:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

button.transparent:active, .button.transparent:active, button.transparent:focus, .button.transparent:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.custom-select input:checked + label {
    display: inline-block !important;
}

.custom-select:not(.hide):hover label {
    display: inline-block !important;
}

body > .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(1, 47, 85, 0.6);
}

body > .modal:target {
    display: block;
}

body > .modal > .backdrop-close {
    display: block;
    color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1050;
    cursor: default;
}

body > .modal > .content {
    position: relative;
    width: 360px;
    margin: 150px auto;
    padding: 2rem;
    background-color: var(--background-color);
    /*-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);*/
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, .5);*/
    background-clip: padding-box;
    border-radius: var(--border-radius);
    outline: 0;
    z-index: 1100;
}

body > .modal .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    color: transparent;
    overflow: hidden;
    background: url("../images/close-icon.svg") no-repeat center;
    background-size: 16px;
}

body > .modal.full-screen > .content {
    width: 100vw;
    margin: auto;
    padding: var(--root-section-padding);
    border-radius: unset;
}

body > .modal.full-screen .close {
    position: fixed;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2) url("../images/close-icon.svg") no-repeat center;
}

body > .modal > .content > .title {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

body > .modal > .content p {
    line-height: 1.5rem;
}

body > .modal > .content > .highlight-section {
    margin-top: 1.5rem;
    margin-bottom: unset;
}

body > .modal > .content > .highlight-section > span:not(:first-child) {
    margin-top: 1rem;
}

body > .modal > .content > img {
    margin-bottom: 1rem;
}

body > #editLogin.modal > .content .indicator {
    position: absolute;
    right: 50px;
    top: 95px;
    pointer-events: none;
}

body > #editLogin.modal > .content .indicator.green {
    color: #1fd05f;
}

body > #about.modal > .content {
    background: #00111F url("../images/background.png") no-repeat top;
    background-size: contain;
    padding: 77px 0 77px 110px;
}

body > #about.modal > .content h2 {
    font-size: 2rem;
    font-weight: 300;
    /*margin: 2.5rem 0;*/
    /*margin: 64px 0 42px 0;*/
    margin: 64px 0 44px 0;
}

body > #about.modal > .content .title {
    margin-top: 0;
    margin-bottom: 42px;
}

body > #about.modal > .content p {
    line-height: 1.5;
    max-width: 800px;
}

body > #about.modal > .content ul {
    list-style: none;
    margin-top: unset;
    padding-left: 17px;
    padding-top: 1px;
    padding-bottom: 1px;
}

body > #about.modal > .content ul > li {
    position: relative;
    /*line-height: 1.5rem;*/
    line-height: 21px;
}

body > #about.modal > .content ul > li:before {
    content: '';
    position: absolute;
    left: -15px;
    top: calc((21px - 5px) / 2);
    background: #a6cdf1;
    width: 5px;
    height: 5px;
}

body > #about.modal > .content ul > li:first-child > h3 {
    margin-top: 0;
}

body > #about.modal > .content ul.grid {
    list-style: none;
    padding: unset;
    justify-content: flex-start;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -36px;
}

body > #about.modal > .content ul.grid > li {
    /*margin-bottom: 2rem;*/
    margin-bottom: 36px;
    /*width: 350px;*/
    width: 370px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.5;
}

body > #about.modal > .content ul.grid > li:before {
    content: none;
}

body > #about.modal > .content ul.grid > li > h3 {
    margin-top: 0;
    font-size: 21px;
    line-height: 1.52;
    /*margin-bottom: 1rem;*/
    margin-bottom: 9px;
}

body > #about.modal > .content h3 {
    color: #a6cdf1;
    font-size: 1.5rem;
    font-weight: normal;
}

body > #about.modal > .content blockquote {
    background-color: #1a2935;
    padding: 20px;
    margin-left: 0;
    margin-top: 26px;
    max-width: 840px;
}

body > #about.modal > .content blockquote > *:first-child {
    margin-top: 0;
}

body > #about.modal > .content blockquote > *:last-child {
    margin-bottom: 0;
}

@media (min-width: 1280px) {
    body.panel > main {
        max-width: calc(1366px + (var(--root-section-padding) * 2));
        margin: 0 auto;
    }
}

/* TODO: Remove this GovnoCode and make true responsive */

@media (max-width: 1365px) {
    body.panel main.vertical-responsive {
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
        justify-content: flex-start;
    }
}